*{
    font-family: "Martel", sans-serif;
    color: white;
}
/* Main set up for the grid  */

body{
    background-color: #333333;
    margin: 2% 2% 2% 2%;
}

/* This container is for the two boxes at the top */
h3{
    text-align: center;
}

#topcont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 5% 2.5%;
    margin-bottom: 3%;
}

.mainheader{
    border: 1px black solid;
    border-radius: 5px;
    padding: 1% 1%;
    box-shadow: 0px 5px 5px -5px white;
    grid-area: 1/1/1/3;
    text-align: center;
    background-color: #525252;
}

.mainheader:hover{
    animation: rot-anticlockwise 3s ease 0s infinite normal forwards;
    border: 1px black solid;
    border-radius: 5px;
    padding: 1% 1%;
    box-shadow: 0px 5px 5px -5px white;
    grid-area: 1/1/1/3;
    text-align: center;
}

#contact{
    border: 1px black solid;
    border-radius: 5px;
    padding: 1% 1%;
    box-shadow: 0px 5px 5px -5px white;
    grid-area: 1 / 3 / 1 / 5;
    text-align: center;
    background-color: #525252;
    line-height: 200%; /*Brought in to build consistency between hover and unhovered states*/
    overflow-wrap: break-word;
}


#contact:hover{
    animation: rot-clockwise 3s ease 0s infinite normal forwards;
    border: 1px black solid;
    border-radius: 5px;
    padding: 1% 1%;
    box-shadow: 0px 5px 5px -5px white;
    grid-area: 1 / 3 / 1 / 5;
    text-align: center;
    line-height: 200%; /* brought in to solve jittering, didn't work*/
    overflow-wrap: break-word; /* creates a hyphen, waiting for user feedback to see if it should change */
}

/* Hover animations^ */


/* Now moving on to the information section*/

#twocols{
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 0px 5px 5px -5px white;
    display: grid;
    grid-template: 50px repeat(3, 1fr) / repeat(4, 1fr);
    gap: 10px 5px;
    padding: 0.5% 0.5%;
    background-color: #474747;
    align-items: start;
}

.twocols h3,.twocols h4{
    line-height: 200%; /* Doubling line spacing for mobile view */
}

#titletwocols{
    grid-area: 1 / 1 / 2 / 5;
    line-height: 200%; /* Doubling line spacing for mobile view */
    font-size: large;
}

/* Infosecbox gives me the ability to style each box with one line of code, instead of duplicating. But remebering the heirarchy of selectors*/

.infosecbox h4,
.infosecbox p{
    text-align: center;
}

.infosecbox{
    border: 1px black solid;
    border-radius: 5px;
    background-color: #525252;
    margin-bottom: 10px;
    padding: 5px;    
}

.infosecbox:hover{
    transform: scale(1.05);
    transition: transfrom 0.4;
}

/* Grid arrangments */
#education{
    grid-area: 2/1/3/3;
}

#tefl{
    grid-area:3/1/4/3;
}

#workex{
    grid-area:2/3/3/5;
}

#englishfreelance{
    grid-area: 3/3/4/5;
}

#doggroom{
    grid-area: 4/3/5/5;
}

#codeacademy{
    grid-area: 4/1/5/3;
}

/* Portfolio section with sample websites etc */

.portfolios{
    margin-top: 30px;
    border: 1px black solid;
}


/* Defs for some animations*/


@keyframes rot-clockwise {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }

@keyframes rot-anticlockwise {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }

/* Responsive design for mobile phones, landscape */

@media only screen and (max-width: 450px) and (max-height: 900px) and (orientation: portrait) {}
   /* plans for resposive design: reduce the two columns to one column with expierence first, 
   next change the margin sizes to be less and remove line spacing for an easier 
   formatting structure. and less hacked together structure. Next prepare for an entry 
   form with JavaScript. Afterwards do many tests and see what happens*/
  /*TEST FKN LOCALLY BEFORE MAKING COMMITTS TO GITHUB*/